<h1>Google Cloud Platform - Video Sample</h1>

<p>This Python Flask application demonstrates App Engine Flexible and the Cloud Video API</p>

<br>

<html>
  <body>
    <form action="upload" method="POST" enctype="multipart/form-data">
      Upload Video File (.mp4): <input type="file" name="videofile" accept=".mp4"><br>
      Upload Audio File (.wav, mono, 16kHz): <input type="file" name="audiofile" accept=".wav"><br>
      <input type="submit" name="submit" value="Submit">
    </form>

    {% if video_public_url %}

      <br>
      <p><b>Video being served from Google Cloud Storage:</b></p>
      <video width="320" height="240" controls>
        <source src="{{video_public_url}}" type="{{video_content_type}}">
        Your browser does not support the video tag.
      </video>
      <br>
      <br>

    {% endif %}

    {% if label_annotations %}

      <h2>Video Analysis Results:</h2>
      <table>
        <tr>
          <th>Label Description</th>
          <th>Label Confidence</th>
          <th>Label Start Time</th>
          <th>Label End Time</th>
        </tr>

    {% endif %}

    {% for index in data %}

        <tr>
	  <td><center>{{index.key}}</center></td>
	  <td><center>{{index.value}}</center></td>
	  <td><center>{{index.start_time}}</center></td>
	  <td><center>{{index.end_time}}</center></td>
        </tr>
    {% endfor %}

    {% if label_annotations %}

      </table>

    {% endif %}

    {% if results %}
      <h2>Speech Results:</h2>
      
     {% for result in results %}
       <p><strong>Transcript: </strong>{{result.alternatives[0].transcript}}</p>
       <p><strong>Confidence: </strong>{{result.alternatives[0].confidence}}</p>
      {% endfor %}
      
      <br>
    {% endif %}
  </body>
</html>
